name: test

on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full

jobs:
  nextest:
    if: github.event_name == 'pull_request'
    uses: ./.github/workflows/nextest.yml
    with:
      profile: default
    secrets: inherit

  docs:
    runs-on: parity-large-new
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          targets: wasm32-unknown-unknown
          components: rust-src
      - name: Install build tools
        run: |
          sudo apt-get update
          sudo apt-get install -y clang libclang-dev unzip build-essential
      - name: Install protobuf-compiler
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install clang on ubuntu
        run: |
          sudo apt-get update
          sudo apt-get install -y clang libclang-dev
      - name: Build documentation
        run: cargo +nightly doc --workspace --all-features --no-deps --document-private-items
        env:
          RUSTDOCFLAGS: --cfg docsrs -D warnings --show-type-layout --generate-link-to-definition --enable-index-page -Zunstable-options
      - name: Deploy documentation
        uses: peaceiris/actions-gh-pages@v3
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: target/doc
          force_orphan: true

  doctest:
    if: github.event_name == 'pull_request'
    runs-on: parity-large-new
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@1.88.0
      - name: Install build tools
        run: |
          sudo apt-get update
          sudo apt-get install -y clang libclang-dev unzip build-essential
      - name: Install protobuf-compiler
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: dtolnay/rust-toolchain@1.88.0
        with:
          target: wasm32-unknown-unknown
          components: rust-src
          toolchain: stable
      - run: cargo test --workspace --doc

  typos:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: crate-ci/typos@v1

  clippy:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.88.0
          components: clippy
      - name: Install protobuf-compiler
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install clang on ubuntu
        run: |
          sudo apt-get update
          sudo apt-get install -y clang libclang-dev
      - uses: dtolnay/rust-toolchain@1.88.0
        with:
          target: wasm32-unknown-unknown
          components: rust-src
          toolchain: nightly-x86_64-unknown-linux-gnu
      - run: cargo clippy --workspace --all-targets --all-features
        env:
          RUSTFLAGS: -Dwarnings

  rustfmt:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - run: cargo fmt --all --check

  forge-fmt:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@1.88.0
      - name: Install protobuf-compiler
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install clang on ubuntu
        run: |
          sudo apt-get update
          sudo apt-get install -y clang libclang-dev
      - name: forge fmt
        shell: bash
        run: ./.github/scripts/format.sh --check

  crate-checks:
    if: github.event_name == 'pull_request'
    runs-on: parity-large-new
    timeout-minutes: 90
    steps:
      - uses: actions/checkout@v4
      - name: Install clang and zip on ubuntu
        run: |
          sudo apt-get update
          sudo apt-get install -y clang libclang-dev zip
      - name: Install build-essential for tikv-jemalloc-sys
        run: |
          sudo apt-get install -y build-essential
      - uses: dtolnay/rust-toolchain@1.88.0
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - uses: taiki-e/install-action@cargo-hack
      - name: Install protobuf-compiler
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: dtolnay/rust-toolchain@1.88.0
        with:
          target: wasm32-unknown-unknown
          components: rust-src
          toolchain: stable
      # Exclude substrate-runtime because it can only be compiled for wasm32 without the std feature.
      # It's anyway compiled without std when building anvil-polkadot (by the wasm builder).
      - run: cargo hack check --each-feature --exclude-features isolate-by-default --exclude substrate-runtime
      # Add another step for running cargo check on substrate runtime (without excluding the default std feature)
      - run: cargo hack check -p substrate-runtime --each-feature --exclude-no-default-features

  deny:
    if: github.event_name == 'pull_request'
    # Copy of ithacaxyz/ci/.github/workflows/deny.yml@main but without failing the CI
    name: cargo deny check
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
      - name: Install cargo-deny
        uses: taiki-e/install-action@cargo-deny
      - name: Run cargo deny
        run: cargo deny --all-features check all

  ci-success:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    needs:
      - nextest
      - docs
      - doctest
      - clippy
      - rustfmt
      - forge-fmt
      - crate-checks
    timeout-minutes: 60
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
